html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.Global {
  &__wrapper {
    max-width: 600px;
    margin: 0 auto;
    width: 95%;
  }
  &__strong {
    color: inherit;
    font-weight: 400;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  font-style: italic;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
