html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
}

.Global {
  &__wrapper {
    max-width: 600px;
    margin: 0 auto;
    width: 95%;
  }
  &__strong {
    color: inherit;
    font-weight: 400;
  }
}

img {
  display: block;
  min-height: 100%;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}
