@import "./mixins";

.Header {
  padding-top: 16px;
  &__title {
    text-align: center;
    font-size: 24px;
    @include visuallyhidden;
  }
  &__graphic {
    width: 100%;
  }
  &__info {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 12px;
  }
  &__issue,
  &__date {
    @include label;
  }
}

.Main {
  margin-top: 50px;
}

.Section {
  margin: 15px 0;
  position: relative;
}

.DarkHeading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  padding: 8px 24px;
  &__heading {
    color: #fff;
    z-index: 2;
    text-align: center;
    display: block;
    width: auto;
  }
  &__texture {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
  }
}

.Socials {
  background: #000;
  &__list {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 32px 68px 90px;
    justify-content: space-between;
    overflow: hidden;
  }
  &__background {
    width: 200%;
    height: 200%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    object-fit: cover;
    transform: translate(-25%, -25%);
  }
  &__item {
    position: relative;
    z-index: 2;
    width: calc((100% - 6px) / 4);
    margin-right: 2px;
    &:last-of-type {
      margin-right: 0;
    }
  }
  &__link {
    display: block;
    width: 100%;
  }
  &__image {
    border-radius: 50%;
    width: 100%;
    height: auto;
  }
}
