/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Enriqueta:wght@400;700&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: "EDCerfoglioRegular";
  src: url("./fonts/EDCerfoglio/ED Cerfoglio-Regular.otf") format("opentype"), url("./fonts/EDCerfoglio/ED Cerfoglio-Regular.woff") format("woff"), url("./fonts/EDCerfoglio/ED Cerfoglio-Regular.ttf") format("truetype"); }

html {
  font-size: 62.5%; }

body {
  font-family: sans-serif; }

.Global__wrapper {
  max-width: 600px;
  margin: 0 auto;
  width: 95%; }

.Global__strong {
  color: inherit;
  font-weight: 400; }

img {
  display: block;
  min-height: 100%; }

a,
a:visited {
  text-decoration: none;
  color: inherit; }

.Header {
  padding-top: 16px; }
  .Header__title {
    text-align: center; }
  .Header__graphic {
    width: 100%;
    font-size: 3.2rem;
    font-family: "EDCerfoglioRegular", "EDCerfoglioRegularNewsletter", serif;
    font-weight: 400; }
  .Header__info-table {
    width: 100%;
    position: relative;
    bottom: 12px; }
  .Header__issue, .Header__date {
    font-size: 1.6rem;
    font-family: "Enriqueta", sans-serif; }
  .Header__issue {
    text-align: right; }

.Main {
  margin-top: 50px; }

.Section {
  margin: 15px 0;
  position: relative; }

.DarkHeading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  width: max-content;
  padding: 8px 24px;
  background-size: cover;
  background-position: center bottom;
  background-color: #000;
  margin-bottom: 15px; }
  .DarkHeading__heading {
    color: #fff;
    z-index: 2;
    text-align: center;
    display: block;
    width: auto; }

.Socials {
  background: #000;
  margin-bottom: 0;
  width: 100%; }
  .Socials__table {
    position: relative;
    border-collapse: collapse;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%; }
  .Socials__item {
    padding: 32px 40px;
    position: relative;
    z-index: 2;
    color: #fff; }
    @media (max-width: 600px) {
      .Socials__item {
        padding: 32px 20px; } }
    .Socials__item:nth-of-type(3n - 2) {
      padding-right: 0; }
    .Socials__item:nth-of-type(2n) {
      text-align: right;
      padding-left: 0; }
      .Socials__item:nth-of-type(2n) .Socials__image {
        width: 20px;
        height: 20px; }
  .Socials__link {
    font-size: 1.6rem;
    font-family: "Enriqueta", sans-serif; }
  .Socials__image {
    width: 16px;
    height: 16px;
    display: inline;
    margin-right: 8px; }
  .Socials__label {
    position: relative;
    bottom: 4px;
    color: #fff; }

.Unsubscribe__data {
  width: 100%;
  font-size: 1.6rem;
  font-family: "Enriqueta", sans-serif;
  padding-bottom: 16px;
  text-align: center; }

.Unsubscribe__link {
  color: #fff; }

.Archive__list {
  width: 100%; }

.Archive__data {
  width: 50%;
  font-size: 1.6rem;
  font-family: "Enriqueta", sans-serif; }
  .Archive__data:nth-of-type(2n) {
    text-align: right; }

.SignUp {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  padding-bottom: 22px;
  margin-bottom: 16px;
  margin-top: 0; }
  .SignUp__heading {
    text-transform: uppercase;
    font-size: 3.2rem;
    font-family: "EDCerfoglioRegular", "EDCerfoglioRegularNewsletter", serif;
    font-weight: 400;
    font-size: 4rem;
    margin-bottom: 0; }
  .SignUp__subheading {
    font-size: 1.6rem;
    font-family: "Enriqueta", sans-serif; }
  .SignUp__button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    font-family: "Enriqueta", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    padding: 11px 63px 11px 19px;
    border: none;
    background-color: #ffa9a4;
    border-radius: 100px;
    overflow: hidden; }
    .SignUp__button:hover, .SignUp__button:focus {
      background-color: #ffc1be; }
    .SignUp__button:active {
      background-color: #ffa49f; }
  .SignUp__bird {
    width: 56px;
    height: auto;
    position: absolute;
    right: 2px;
    top: 5px; }

.SignUpForm {
  visibility: hidden;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .SignUpForm--show {
    visibility: visible; }
  .SignUpForm__content {
    width: calc(600px - 16px);
    position: relative; }
  .SignUpForm__scrim {
    position: absolute;
    background: rgba(0, 0, 0, 0.58);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer; }
  .SignUpForm__close-button {
    position: absolute;
    top: 25px;
    right: 25px;
    background: none;
    border: none;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer; }

.Newsletter {
  border: 1px solid #111;
  width: 100%;
  margin-top: 65px; }
  .Newsletter__heading {
    font-size: 3.2rem;
    font-family: "EDCerfoglioRegular", "EDCerfoglioRegularNewsletter", serif;
    font-weight: 400; }
  .Newsletter__inner {
    padding: 26px 20px; }
  .Newsletter__entry {
    padding-top: 16px;
    padding-bottom: 24px;
    border-bottom: 1px solid #111;
    margin-top: 3px;
    border-top: 0.5px solid #111;
    width: 100%; }
    .Newsletter__entry:last-of-type {
      padding-bottom: 7px;
      border-bottom: none; }
    .Newsletter__entry:first-of-type {
      border-top: none;
      margin-top: 0; }
  .Newsletter__entry-inner {
    padding-bottom: 24px;
    padding-top: 16px; }
  .Newsletter__entry-title {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Enriqueta", sans-serif;
    margin-bottom: 8px; }
  .Newsletter__entry-image {
    width: 100%;
    height: auto;
    margin-bottom: 8px; }
  .Newsletter__entry-label {
    font-size: 1.6rem;
    font-family: "Enriqueta", sans-serif; }

.FanArt {
  width: 100%;
  margin-top: 42px; }
  .FanArt__inner {
    padding-top: 48px; }
  .FanArt__art-wrapper {
    padding: 0;
    padding-bottom: 14px;
    width: 50%;
    padding-left: 6px; }
    .FanArt__art-wrapper:nth-of-type(3n - 2) {
      padding-right: 6px;
      padding-left: 0; }
  .FanArt__art-image {
    width: 100%; }
  .FanArt__art-link {
    width: 100%;
    display: block;
    max-width: 300px; }
  .FanArt__art-label {
    font-size: 1.6rem;
    font-family: "Enriqueta", sans-serif;
    text-align: center;
    margin-top: 8px;
    color: #111; }
